---
layout: front
title: 2020 Innovations in Travel Modeling Conference
---


    <div class="jumbotron text-center">
        <div class="content">
            <div class="event-date">{{ site.event-date }} in {{ site.event-location }}</div>
            <h1>{{ site.event-title }}</h1>
            <p class="lead">{{ site.event-tagline }}</p>
            <a href="{{ site.baseurl }}/call-for-content"><button type="button" class="btn btn-primary">Call for Content: due June 30th</button></a>
        </div>
    </div>
    <!-- .Jumbotron-->


    <section id="section-intro" class="section-wrapper about-event">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <p class="lead"> The 2020 ITM Conference will focus on four themes the organizers believe are necessary to improve the state of travel forecasting:</p>
                    <h3> Data Solutions </h3>
                    <p class="lead">
Techniques and strategies to assess, acquire, process, analyze, and validate use data of increasing volumes, from heterogeneous sources, some with restrictions, alone or in combination with more traditional data sources. How do we correctly, safely, and expediently select, expand and analyze from the many fire-hoses?
                    </p>
                    <h3> Modeling Approaches </h3>
                    <p class="lead">
Articulating strengths, weaknesses, and appropriate roles of data-driven vs behavior-driven models. How do they potentially work together?
                    </p>
                    <h3> Useful Forecasts </h3>
                    <p class="lead">
Developing forecasts with useful representations of risk and uncertainty.
How do we assess/evaluate how well we did with presenting a decision-space (as opposed to validation of existing behavior?).
                    </p>
                    <h3>Getting there in the real world</h3>
                    <p class="lead">
Institutional structures and technology transfer in order to use the most appropriate tools and techniques in real world applications within a time-frame that is helpful to decision-making.
                    </p>
                </div>
                <div class="col-md-4">
                    <address>
                        <strong>Organized by:</strong><br>
                        Cynthia Chen, University of Washington [co-chair]<br>
                        Elizabeth Sall, UrbanLabs LLC [co-chair]<br>
                        Jennifer Weeks, Transportation Research Board<br>
                        Ram Pendyala, Arizona State University<br>
                        Rolf Moeckel, TU Munich<br>
                        Rick Donnelly, WSP Inc.<br>
                        Greg Erhardt, University of Kentucky<br>
                        Guy Rousseau, Atlanta Regional Commission<br>
                        Billy Charlton, TU Berlin<br>
                        Leah Flake, RSG Inc<br>
                        Rachel Copperman, Cambridge Systematics Inc<br>
                        Liming Wang, Portland State University<br>
                        Mohamed Salah Mahmoud, Translink<br>
                        Stacey Bricka, consultant<br>
                        Julie Dunbar, Dunbar Consulting<br>
                        Andisheh Ranjbari, University of Washington<br>
                        Cathy Wu, Microsoft Research AI and MIT<br>
                        Aruna Sivakumar, Imperial College<br>
                        Brian Gardner, FHWA<br>
                        Josie Kressner, Transport Foundry<br>
                        Tara Weidner, Oregon DOT<br>
                        Natarajan Janarthanan Washington State DOT<br>
                        Sijia Wang, WSP<br>
                        Karthik Konduri, Amazon<br>
                        Xuesong Zhou, ASU<br>
                        <a
                        <a href="http://www.trb.org">Transportation Research Board</a><br>
                        <a href="https://www.mytrb.org/OnlineDirectory/Committee/Details/3709">Standing Committee on the Travel Forecasting Resource (ADB45)</a><br>
                    </address>
                </div>
            </div>
        </div>
    </section>
    <!-- .about-event -->

    <section id="section-previous" class="section-wrapper team gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>CONFERENCE HISTORY</h1>
                    </div>
                </div>
                <p class="lead">
The Transportation Research Board (TRB) Innovations in Travel Modeling (ITM) conference series has become the leading venue for researchers and practitioners to come together and discuss, debate, and share information about advances in travel analysis and modeling methods. The ITM conference series is intended to bridge the gap between research and practice and help accelerate the deployment of new methods, tools, technologies, and algorithms in freight and passenger travel forecasting model systems.
                </p>
                <p class="lead">
                        The conference series was launched in 2006 and is held every other year.
                </p>
            </div>
            <div class="row">
            {% for conf in site.data.conferences %}
            <div class="col-sm-6 col-md-3">
                <figure class="thumbnail">
                <a href="{{ conf.website }}">
                    {% if conf.img %}<img src="{{ conf.img }}" class="img-responsive" alt="Image">{% endif %}
                    <figcaption class="caption text-center">
                        <h3>{{ conf.year }}
                        <small>{{ conf.location }}</small>
                        </h3>
                    </figcaption>
                </a>
                 </figure>
                </div>
            {% endfor %}
            </div>
            <!-- .row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- .team -->

    <section id="section-agenda" class="section-wrapper section-agenda">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>ROUGH FORMAT</h1>
                        <h3>[-subject to change-]</h3>
                        <p>Each attendee will be assigned a participating role, either as a presenter, moderator, or discussant.</p>
                    </div>
                </div>
            </div>

            <div class="row">

            {% for day in site.data.program %}
            <div class="col-md-3">
                <h2>{{ day.day }}</h2>
                {% for agenda-item in day.agenda %}
                    <div class="session">
                        <time>{{ agenda-item.time }}</time>
                        <h3>{{ agenda-item.name }}</h3>
                        <p>{{ agenda-item.detail }}</p>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}

             <!-- .row -->
            </div>
        <!-- .container-->
        </div>
    </section>


    <section id="section-pricing" class="section-wrapper pricing-section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>REGISTRATION</h1>
                        <p>Registration prices and dates have not yet been confirmed. Check back for more details.</p>
                    <!-- /section-title-->
                    </div>
                <!-- /col-md-12-->
                </div>
            <!-- /row-->
            </div>
            <div class="row">
                {% for reg in site.data.registration %}
                <div class="col-sm-4">
                    <div class="pricing-table-default text-center">
                        <div class="pricing-head">
                            <h3>{{ reg.label }}</h3>
                            <span class="price"><sup>$</sup>{{ reg.price }}</span>
                        </div>
                        <div class="pricing-detail">
                            <ul class="pricing-list green-i">
                            {% for note in reg.notes %}
                                <li>{{ note }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                        <a href="{{ reg.link }}" class="btn btn-primary">{{ reg.button }}</a>
                    </div>
                    <!-- /.pricing-table-wrapper -->
                </div>
                <!-- .col-sm-4 -->
                {% endfor %}

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- .pricing-section -->


    <section id="section-partner" class="section-wrapper client-logo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>PARTNERS</h1>
                    </div>
                </div>
            </div>
            {% for tier in site.data.sponsors %}
            <div class="row">
                    <h3>{{ tier.label }}</h3>
                    {% for sponsor in tier.sponsors %}
                        <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                            {% if sponsor.img %}
                                <a href="{{ sponsor.link }}"><img src="{{ sponsor.img }}" alt="Image"></a>
                            {% else %}
                                <a href="{{ sponsor.link }}">{{ sponsor.name }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
            </div>
             {% endfor %}
        </div>
        <!--end of .container -->
    </section>
    <!-- .client-logo -->


    <section id="section-venue" class="section-wrapper  gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>VENUE</h1>
                        <p>Seattle, WA.</p>
                        <p>Precise venue to be determined, Winter 2019.</p>
                    </div>
                </div>
            </div>
            <!-- /.row-->


        </div>
    </section>
