<!-- jquery -->
<script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>

<!-- Bootstrap -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js"></script>

<!--<script src="js/one-page-nav.js"></script>-->
<script src="{{ site.baseurl }}/js/scripts.js"></script>
